body {

font-family:Arial, sans-serif;

color:white;

background-color:#808080;

margin: 0;

padding: 0;

line-height: 1.6;

}

header {

background-color:grey;

color: white;

padding: 20px;

text-align: center;

}


header h1 {

margin: 0;

}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
  height: 350px;
}

nav a {

color: white;

text-decoration: none;

margin: 0 10px;

  }


nav a:hover {

text-decoration: underline;

}
