body {

font-family:Arial, sans-serif;

color:white;

background-color:#808080;

margin: 0;

padding: 0;

line-height: 1.6;

}

header {

background-color:grey;

color: white;

padding: 20px;

text-align: center;

}

p  {
  
text-align: center;
color: white;
  
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    text-align: center;  /* Centers text */
}
img {
    display: block;
    margin: 10px auto; /* Centers image */
    width: 100px; /* Adjust to your preferred size */
    height: auto;
}
.model {
    text-align: center;
    margin-bottom: 20px; /* Space between models */
}
h2  {

   margin-left: auto;
  margin-right: auto;

}
header h1 {

margin: 0;

}

nav a {

color: black;

text-decoration: none;

margin: 0 10px;

  }


nav a:hover {

text-decoration: underline;

}
